@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,300,200,900,700italic,600,600italic);

@import '~reset-css';

* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #yield {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $background;
}