.Loading {
  text-align: center;

  &--overlay {
    align-items: center;
    background: $background;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
  }

  &__spinner {
    animation: rotation 1s linear infinite;
    border: px(3) solid $white;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: px(48);
    position: relative;
    width: px(48);

    &::after {
      border: px(3) solid transparent;
      border-bottom-color: $primary;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: px(56);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: px(56);
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
